<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Request Header Parser</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container">
      <h2>API Project: Request Header Parser Microservice</h2>
      <h3>User Story: </h3>
      1. I can get the IP address, preferred languages (from header <code>Accept-Language</code>)<br> and system infos (from header <code>User-Agent</code>) for my device.

      <h3>Usage:</h3>
      <p>
        <a href = "/api/whoami/">My Status (/api/whoami)</a>
      </p>
    </div>
    <div class="footer">
      <p>
        by <a href="https://fobabs.com/">FOBABS</a>
      </p>
    </div>
  </body>
</html>